.calc {
    /* border: solid; */
    height: 60vh;
    width: 55vh;
    
    /* display: flex;
    flex-direction: column; */
}

.screen-item-card {
    display: flex;
    color: white;
    justify-content: center;
    flex-direction: column;
    border: solid;
    height: 10vh;
    background-color: black;
}

.calc-button {
    display: flex;
    flex-direction: column;
    /* height: 40vh;
    width: 49vh; */
    border: solid;
    background-color: grey;

}

.calc-button-row {
    display: flex;
    justify-content: center;


}

.calc-button-row-1 {
    display: flex;
    justify-content: center;

}

.cancel-button {
    color: red;
    padding: 20px 63px;

}

.calc-button-row-2 {
    display: flex;
    justify-content: center;

}

.calc-button-row-3 {
    display: flex;
    justify-content: center;


}

.calc-button-row-4 {
    display: flex;
    justify-content: center;

}

.btn {
    padding: 15px 30px;
    color: black;
    background-color: #df974c;
}



.zero-btn {
    color: red;
    padding: 15px 100px;
}